{% load static %}
<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static "css/home.css" %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    </style>
    <title>Page</title>
  </head>
  <body>
    <div class="All_headers_Menu">
      <div class="Logo">
        <h1>WebRare</h1>
      </div>
      <div class="Top_Menu">
        <ul>
          <li><a href="http://127.0.0.1:8000/playground/home" id="home">Home</a></li>
          <li><a href="http://127.0.0.1:8000/playground/about">About us</a></li>
          <li><a href="http://127.0.0.1:8000/playground/portfolio">Portfolio</a></li>
          <li><a href="http://127.0.0.1:8000/playground/login">LogIn</a></li>
          <li><a href="http://127.0.0.1:8000/playground/singin">SingIn</a></li>
        </ul>
      </div>
    </div>



    </div>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
